* {
    margin: 0;
    padding: 0;
}

body {
    text-align: center;
    background-color: black;
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.clock {
    width: 20rem;
    height: 20rem;
    border: 10px solid white;
    border-radius: 50%;
    margin: 7rem auto;
    position: relative;
    padding: 2rem;
}

.clock-face {
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-3px);
}

.hand {
    width: 50%;
    height: 5px;
    background-color: white;
    top: 50%;
    border-radius: 5px;
    position: absolute;
    transform-origin: 100%;
    transform: rotate(90deg);
    transition: all 0.05s;  
    transition-timing-function: cubic-bezier(.01,.95,.26,1.41) ;
}

.seconds-hand {
    background-color: green;
    height: 3px;
}

.minute-hand{
    background-color: skyblue;
}

footer{
    color: white;
    font-weight: bold;
}